.btn {
  background-color: rgb(94, 170, 245);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 2px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}