- todayDate = "#{Time.now.day}.#{Time.now.month}.#{Time.now.year}"
- todayDateTime = "#{Time.now.day}.#{Time.now.month}.#{Time.now.year} #{Time.now.hour}:#{Time.now.min}"
html lang="en"
    head
        meta charset="utf-8"
        meta name="viewport" content="width=device-width, initial-scale=1"
        title VIDEO PLAYER INTERFACE FOR BOOTSTRAP 5.0.2
        meta name="description" content="Customizable Video Player Interface for Bootstrap 5"
        link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"
        link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        link rel="stylesheet" href="dist/css/videoplayer.min.css"
        link rel="stylesheet" href="source/css/prism.css"
        link rel="shortcut icon" href="https://raw.githubusercontent.com/koehlersimon/bootstrap-videoplayer/master/favicon.ico"
    body

        .text-center.py-4.pt-lg-4.bg-light
            h1.display-3.mb-0.fw-bold VIDEO PLAYER INTERFACE
            h2.fw-4.mb-0 FOR BOOTSTRAP 5.0.2
            <span class="small text-muted">LAST UPDATE: #{todayDate}</span>

        section.py-2.py-lg-5.bg-primary.text-light

            .container
                .row.g-4

                    .col-lg-3
                        div.sticky-top.pt-4
                            p.small This is an <strong>experimental</strong> interface to implement a video player using the Bootstrap 5 framework. The HTML structure was deliberately created so that you can customize the player to your own design using Bootstrap's built-in CSS classes.
                            h4 Files
                            ul.list-unstyled
                                li
                                    a.link-info href="https://github.com/koehlersimon/bootstrap-videoplayer/tree/master/dist/js" videoplayer.min.js (6kb)
                                li
                                    a.link-info href="https://github.com/koehlersimon/bootstrap-videoplayer/tree/master/dist/css" videoplayer.min.css (1kb)

                            h4 Features
                            ul.mb-4
                                li title="Play Video" data-bs-toggle="tooltip" data-bs-placement="top" Bootstrap Version 5.0.2
                                li Uses Bootstrap Icons
                                li Vanilla JavaScript only
                            h4 Requirements
                            ul.mb-4
                                li Bootstrap CSS
                                li Bootstrap JS w. Popper.js
                                li A modern browser (no IE!)

                            p.small.text-info.fw-bold This project is still experimental! Do not use it in a live environment when you don't know what you're doing ;-)

                            a.btn.btn-dark.btn-lg.fw-bold href="https://github.com/koehlersimon/bootstrap-videoplayer/"
                                i.bi.bi-github
                                | &nbsp; CONTRIBUTE

                    .col-lg-9.pt-4

                        <!-- Video Player START -->

                        .videoplayer#player-1
                            .ratio.ratio-21x9.bg-dark
                                video.video src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/TearsOfSteel.mp4#t=9"
                            .controls.controls-dark
                                button.btn.btn-lg.btn-video-playpause type="button" title="Play Video" data-bs-toggle="tooltip"
                                    <i class="bi bi-play-fill"></i>
                                    <i class="bi bi-pause-fill d-none"></i>
                                div.px-1.w-100
                                    div.progress.w-100
                                        div.progress-bar
                                button.btn.btn-lg.btn-video-pip title="Play picture in picture" <i class="bi bi-pip"></i>
                                button.btn.btn-lg.btn-video-fullscreen title="Full Screen" <i class="bi bi-arrows-fullscreen"></i>
                                .dropup
                                    button.btn.btn-lg.btn-video-volume title="Volume" data-bs-toggle="dropdown" <i class="bi bi-volume-mute-fill"></i>
                                    .dropdown-menu.dropdown-menu-end.dropup-volume.dropdown-menu-dark
                                        input type="range" class="form-range form-range-volume"
                                .dropup
                                    button.btn.btn-lg title="More..." data-bs-toggle="dropdown" <i class="bi bi-three-dots-vertical"></i>
                                    .dropdown-menu.dropdown-menu-end.dropdown-menu-dark
                                        a.dropdown-item href="#" <i class="bi bi-info-circle-fill"></i> About
                            .overlay
                                .title Tears of Steel

                        <!-- Video Player END -->

                        hr

                        h2 Initialization with default settings
                        pre.mb-4
                            code.language-javascript
                                | // You must provide the element ID
                                  var myPlayer = new BootstrapVideoplayer('myCustomPlayer')

                        h2 Initialization with custom settings
                        pre.mb-4
                            code.language-javascript
                                | /*
                                  * You must provide the element ID
                                  * Settings are optional and will be merged with default settings
                                  * Make sure you change the CSS as well, when you define custom class names here
                                  */
                                  var myPlayer = new BootstrapVideoplayer('myCustomPlayer',{
                                      selectors:{
                                          video: '.video',
                                          playPauseButton: '.btn-video-playpause',
                                          playIcon: '.bi-play-fill',
                                          pauseIcon: '.bi-pause-fill',
                                          progress: '.progress',
                                          progressbar: '.progress-bar',
                                          pipButton: '.btn-video-pip',
                                          fullscreenButton: '.btn-video-fullscreen',
                                          volumeRange: '.form-range-volume'
                                     }
                                  })

                        h3 HTML markup
                        pre.mb-4
                            code.language-markup
                                | &lt;!--
                                    Make sure to include the Bootstrap CSS and the Video Player CSS file in your website header:
                                    &lt;link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
                                    &lt;link href="videoplayer.min.css" rel="stylesheet">
                                  -->

                                  &lt;div class="videoplayer" id="myCustomPlayer"&gt;
                                     &lt;div class="ratio ratio-16x9 bg-dark"&gt;
                                        &lt;video class="video" src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4"&gt;&lt;/video&gt;
                                     &lt;div&gt;
                                     &lt;div class="controls"&gt;
                                        &lt;button class="btn btn-lg btn-video-playpause" type="button" title="Play Video">
                                            &lt;i class="bi bi-play-fill">&lt;/i>
                                            &lt;i class="bi bi-pause-fill d-none">&lt;/i>
                                        &lt;/button>
                                        &lt;div class="px-1 w-100">
                                            &lt;div class="progress w-100">
                                                &lt;div class="progress-bar">&lt;/div>
                                            &lt;/div>
                                        &lt;/div>
                                        &lt;button class="btn btn-lg btn-video-pip" title="Play picture in picture">
                                            &lt;i class="bi bi-pip">&lt;/i>
                                        &lt;/button>
                                        &lt;button class="btn btn-lg btn-video-fullscreen">
                                            &lt;i class="bi bi-arrows-fullscreen">&lt;/i>
                                        &lt;/button>
                                        &lt;div class="dropup">
                                            &lt;button class="btn btn-lg btn-video-volume" data-bs-toggle="dropdown" title="Volume">
                                                &lt;i class="bi bi-volume-mute-fill">&lt;/i>
                                            &lt;/button>
                                            &lt;div class="dropdown-menu dropdown-menu-end dropup-volume">
                                                &lt;input type="range" class="form-range form-range-volume">
                                            &lt;/div>
                                        &lt;/div>
                                        &lt;div class="dropup">
                                            &lt;button class="btn btn-lg" data-bs-toggle="dropdown" title="More...">
                                                &lt;i class="bi bi-three-dots-vertical">&lt;/i>
                                            &lt;/button>
                                            &lt;div class="dropdown-menu dropdown-menu-end">
                                                &lt;a class="dropdown-item" href="#">
                                                    &lt;i class="bi bi-info-circle-fill">&lt;/i> About
                                                &lt;/a>
                                            &lt;/div>
                                        &lt;/div>
                                     &lt;/div&gt;
                                  &lt;/div&gt;
                        h3 CSS
                        pre.mb-4
                            code.language-css
                                | /*
                                    Make sure to include the Bootstrap CSS and the Video Player CSS file in your website header:
                                    &lt;link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
                                    &lt;link href="videoplayer.min.css" rel="stylesheet">
                                  */
                                  .videoplayer {
                                    position: relative;
                                    display: block;
                                  }
                                  .videoplayer video {
                                    max-width: 100%;
                                    max-height: 100%;
                                  }
                                  .videoplayer .controls {
                                    position: absolute;
                                    bottom: 0;
                                    display: flex;
                                    width: 100%;
                                    align-items: center;
                                    bottom: 0;
                                    background-color: #eee;
                                  }
                                  .videoplayer .controls .progress {
                                    background-color: #333;
                                  }
                                  .videoplayer .controls .progress .progress-bar {
                                    transition: none !important;
                                    background-color: #666;
                                  }
                                  .videoplayer .controls.controls-light .bi {
                                    color: #2b2b2b;
                                  }
                                  .videoplayer .controls.controls-dark {
                                    background-color: #2b2b2b;
                                  }
                                  .videoplayer .controls.controls-dark .bi {
                                    color: #eee;
                                  }
                                  .videoplayer .controls.controls-dark .progress {
                                    background-color: #ccc;
                                  }
                                  .videoplayer .controls.controls-dark .progress .progress-bar {
                                    background-color: #999;
                                  }
                                  .videoplayer .controls.auto-hide {
                                    opacity: 0;
                                    transition: opacity 0.5s ease-in-out;
                                    transition-delay: 0.5s;
                                  }
                                  .videoplayer .controls button > *,
                                  .videoplayer .controls .btn > * {
                                    pointer-events: none !important;
                                  }
                                  .videoplayer .overlay {
                                    position: absolute;
                                    z-index: 300;
                                    top: 0;
                                    left: 0;
                                  }
                                  .videoplayer .overlay .title {
                                    font-size: inherit;
                                    color: white;
                                    padding: 0.5rem;
                                    font-weight: bold;
                                  }
                                  .videoplayer .dropup-volume {
                                    position: absolute !important;
                                    bottom: calc(100% + 5px) !important;
                                    padding: 0.75rem 1rem;
                                    transform: none !important;
                                    min-width: inherit;
                                  }
                                  .videoplayer .dropup-volume .form-range {
                                    -webkit-appearance: slider-vertical;
                                    width: 1rem !important;
                                    height: 100% !important;
                                  }
                                  .videoplayer:hover .controls.auto-hide {
                                    opacity: 1;
                                  }

                                  .tooltip {
                                    z-index: 1400;
                                  }


        section.py-2.py-lg-5.bg-dark.text-light

            .container.my-4

                h2.text-center.fw-bold.mb-0 Color Schemes
                p.text-center.lead.mb-5 Using the build in Bootstrap Color Schemes

                .row.g-4
                    .col-lg-6

                        <!-- Video Player START -->
                        .videoplayer#player-2
                            .ratio.ratio-16x9.bg-dark
                                video.video src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4"
                            .controls.controls-dark
                                button.btn.btn-lg.btn-video-playpause type="button" title="Play Video" data-bs-toggle="tooltip"
                                    <i class="bi bi-play-fill"></i>
                                    <i class="bi bi-pause-fill d-none"></i>
                                div.px-1.w-100
                                    div.progress.w-100
                                        div.progress-bar
                                button.btn.btn-lg.btn-video-pip title="Play picture in picture" <i class="bi bi-pip"></i>
                                button.btn.btn-lg.btn-video-fullscreen <i class="bi bi-arrows-fullscreen"></i>
                                .dropup
                                    button.btn.btn-lg.btn-video-volume title="Volume" data-bs-toggle="dropdown" <i class="bi bi-volume-mute-fill"></i>
                                    .dropdown-menu.dropdown-menu-end.dropup-volume.dropdown-menu-dark
                                        input type="range" class="form-range form-range-volume"
                                .dropup
                                    button.btn.btn-lg.btn-more title="More..." data-bs-toggle="dropdown" <i class="bi bi-three-dots-vertical"></i>
                                    .dropdown-menu.dropdown-menu-end.dropdown-menu-dark
                                        a.dropdown-item href="#" <i class="bi bi-info-circle-fill"></i> About

                        <!-- Video Player END -->

                    .col-lg-6

                        <!-- Video Player START -->
                        .videoplayer#player-3
                            .ratio.ratio-16x9.bg-dark
                                video.video src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4"
                            .controls.controls-light
                                button.btn.btn-lg.btn-video-playpause type="button" title="Play Video" data-bs-toggle="tooltip"
                                    <i class="bi bi-play-fill"></i>
                                    <i class="bi bi-pause-fill d-none"></i>
                                div.px-1.w-100
                                    div.progress.w-100
                                        div.progress-bar
                                button.btn.btn-lg.btn-video-pip title="Play picture in picture" <i class="bi bi-pip"></i>
                                button.btn.btn-lg.btn-video-fullscreen <i class="bi bi-arrows-fullscreen"></i>
                                .dropup
                                    button.btn.btn-lg.btn-video-volume title="Volume" data-bs-toggle="dropdown" <i class="bi bi-volume-mute-fill"></i>
                                    .dropdown-menu.dropdown-menu-end.dropup-volume.dropdown-menu-dark
                                        input type="range" class="form-range form-range-volume"
                                .dropup
                                    button.btn.btn-lg.btn-more title="More..." data-bs-toggle="dropdown" <i class="bi bi-three-dots-vertical"></i>
                                    .dropdown-menu.dropdown-menu-end.dropdown-menu-dark
                                        a.dropdown-item href="#" <i class="bi bi-info-circle-fill"></i> About

                        <!-- Video Player END -->

                    .col-lg-6

                        <!-- Video Player START -->

                        .videoplayer#player-4
                            .ratio.ratio-16x9.bg-dark
                                video.video src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4"
                            .controls.controls-dark.bg-primary
                                button.btn.btn-lg.btn-video-playpause type="button" title="Play Video" data-bs-toggle="tooltip"
                                    <i class="bi bi-play-fill"></i>
                                    <i class="bi bi-pause-fill d-none"></i>
                                div.px-1.w-100
                                    div.progress.w-100
                                        div.progress-bar
                                button.btn.btn-lg.btn-video-pip title="Play picture in picture" <i class="bi bi-pip"></i>
                                button.btn.btn-lg.btn-video-fullscreen <i class="bi bi-arrows-fullscreen"></i>
                                .dropup
                                    button.btn.btn-lg.btn-video-volume title="Volume" data-bs-toggle="dropdown" <i class="bi bi-volume-mute-fill"></i>
                                    .dropdown-menu.dropdown-menu-end.dropup-volume.dropdown-menu-dark.bg-primary
                                        input type="range" class="form-range form-range-volume"
                                .dropup
                                    button.btn.btn-lg.btn-more title="More..." data-bs-toggle="dropdown" <i class="bi bi-three-dots-vertical"></i>
                                    .dropdown-menu.dropdown-menu-end.dropdown-menu-dark.bg-primary
                                        a.dropdown-item href="#" <i class="bi bi-info-circle-fill"></i> About

                        <!-- Video Player END -->

                    .col-lg-6

                        <!-- Video Player START -->

                        .videoplayer#player-5
                            .ratio.ratio-16x9.bg-dark
                                video.video src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerJoyrides.mp4"
                            .controls.controls-dark.bg-danger
                                button.btn.btn-lg.btn-video-playpause type="button" title="Play Video" data-bs-toggle="tooltip"
                                    <i class="bi bi-play-fill"></i>
                                    <i class="bi bi-pause-fill d-none"></i>
                                div.px-1.w-100
                                    div.progress.w-100
                                        div.progress-bar
                                button.btn.btn-lg.btn-video-pip title="Play picture in picture" <i class="bi bi-pip"></i>
                                button.btn.btn-lg.btn-video-fullscreen <i class="bi bi-arrows-fullscreen"></i>
                                .dropup
                                    button.btn.btn-lg.btn-video-volume title="Volume" data-bs-toggle="dropdown" <i class="bi bi-volume-mute-fill"></i>
                                    .dropdown-menu.dropdown-menu-end.dropup-volume.dropdown-menu-dark.bg-danger
                                        input type="range" class="form-range form-range-volume"
                                .dropup
                                    button.btn.btn-lg.btn-more title="More..." data-bs-toggle="dropdown" <i class="bi bi-three-dots-vertical"></i>
                                    .dropdown-menu.dropdown-menu-end.dropdown-menu-dark.bg-danger
                                        a.dropdown-item href="#" <i class="bi bi-info-circle-fill"></i> About

                        <!-- Video Player END -->



        section.py-2.py-lg-5
            .container
                .row.g-4
                    .col-lg-5

                        h2.fw-bold Auto-Hide Controls
                        p Move your mouse over the video to see controls..

                        code
                            pre.language-css
                                | class="controls auto-hide"

                    .col-lg-7

                        <!-- Video Player START -->
                        .videoplayer#player-6
                            .ratio.ratio-16x9.bg-dark
                                video.video src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerMeltdowns.mp4"
                            .controls.auto-hide
                                button.btn.btn-lg.btn-video-playpause type="button" title="Play Video" data-bs-toggle="tooltip"
                                    <i class="bi bi-play-fill"></i>
                                    <i class="bi bi-pause-fill d-none"></i>
                                div.px-1.w-100
                                    div.progress.w-100
                                        div.progress-bar
                                button.btn.btn-lg.btn-video-pip title="Play picture in picture" <i class="bi bi-pip"></i>
                                button.btn.btn-lg.btn-video-fullscreen <i class="bi bi-arrows-fullscreen"></i>
                                .dropup
                                    button.btn.btn-lg title="Volume" data-bs-toggle="dropdown" <i class="bi bi-volume-mute-fill"></i>
                                    .dropdown-menu.dropdown-menu-end.dropup-volume
                                        input type="range" class="form-range form-range-volume"
                                .dropup
                                    button.btn.btn-lg title="More..." data-bs-toggle="dropdown" <i class="bi bi-three-dots-vertical"></i>
                                    .dropdown-menu.dropdown-menu-end
                                        a.dropdown-item href="#" <i class="bi bi-info-circle-fill"></i> About
                        <!-- Video Player END -->



        section.py-2.py-lg-5
            .container
                .row.g-4
                    .col-lg-4

                        h2.fw-bold Aspect Ratios
                        p Use the integrted Bootstrap aspect ratio classes

                    .col-lg-4

                        h4 Aspect Ratio 1x1
                        <!-- Video Player START -->
                        .videoplayer#player-7
                            .ratio.ratio-1x1.bg-dark
                                video.video src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/Sintel.mp4#t=10"
                            .controls
                                button.btn.btn-lg.btn-video-playpause type="button" title="Play Video" data-bs-toggle="tooltip"
                                    <i class="bi bi-play-fill"></i>
                                    <i class="bi bi-pause-fill d-none"></i>
                                div.px-1.w-100
                                    div.progress.w-100
                                        div.progress-bar
                                button.btn.btn-lg.btn-video-pip title="Play picture in picture" <i class="bi bi-pip"></i>
                                button.btn.btn-lg.btn-video-fullscreen <i class="bi bi-arrows-fullscreen"></i>
                                .dropup
                                    button.btn.btn-lg title="Volume" data-bs-toggle="dropdown" <i class="bi bi-volume-mute-fill"></i>
                                    .dropdown-menu.dropdown-menu-end.dropup-volume
                                        input type="range" class="form-range form-range-volume"
                                .dropup
                                    button.btn.btn-lg title="More..." data-bs-toggle="dropdown" <i class="bi bi-three-dots-vertical"></i>
                                    .dropdown-menu.dropdown-menu-end
                                        a.dropdown-item href="#" <i class="bi bi-info-circle-fill"></i> About
                        <!-- Video Player END -->

                    .col-lg-4

                        h4 Aspect Ratio 4x3
                        <!-- Video Player START -->
                        .videoplayer#player-8
                            .ratio.ratio-4x3.bg-dark
                                video.video src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/SubaruOutbackOnStreetAndDirt.mp4#t=10"
                            .controls
                                button.btn.btn-lg.btn-video-playpause type="button" title="Play Video" data-bs-toggle="tooltip"
                                    <i class="bi bi-play-fill"></i>
                                    <i class="bi bi-pause-fill d-none"></i>
                                div.px-1.w-100
                                    div.progress.w-100
                                        div.progress-bar
                                button.btn.btn-lg.btn-video-pip title="Play picture in picture" <i class="bi bi-pip"></i>
                                button.btn.btn-lg.btn-video-fullscreen <i class="bi bi-arrows-fullscreen"></i>
                                .dropup
                                    button.btn.btn-lg title="Volume" data-bs-toggle="dropdown" <i class="bi bi-volume-mute-fill"></i>
                                    .dropdown-menu.dropdown-menu-end.dropup-volume
                                        input type="range" class="form-range form-range-volume"
                                .dropup
                                    button.btn.btn-lg title="More..." data-bs-toggle="dropdown" <i class="bi bi-three-dots-vertical"></i>
                                    .dropdown-menu.dropdown-menu-end
                                        a.dropdown-item href="#" <i class="bi bi-info-circle-fill"></i> About
                        <!-- Video Player END -->

    .bg-dark.py-5.text-center.d-flex
        ul.nav.mx-auto
            li.nav-item.align-items-center.d-flex
                a.nav-link href="https://simon-koehler.com"
                    img src="https://raw.githubusercontent.com/koehlersimon/bootstrap-videoplayer/master/favicon.ico"
            li.nav-item.align-items-center.d-flex
                a.nav-link.link-light.text-decoration-none href="https://simon-koehler.com" target="_blank" By Simon Köhler
            li.nav-item.align-items-center.d-flex
                a.nav-link.link-light.text-decoration-none href="https://simon-koehler.com" target="_blank"
                    i.bi.bi-instagram
            li.nav-item.align-items-center.d-flex
                a.nav-link.link-light.text-decoration-none href="https://www.linkedin.com/in/typo3-freelancer/" target="_blank"
                    i.bi.bi-linkedin
            li.nav-item.align-items-center.d-flex
                a.nav-link.link-light.text-decoration-none href="https://simon-koehler.com" target="_blank"
                    i.bi.bi-youtube

    script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
    script src="dist/js/videoplayer.min.js"
    script src="source/js/example.js"
    script src="source/js/prism.js"
