.btn-google {
  display: inline-block;
  color: white;
  border-radius: 5px;
  border: 0px;
  white-space: nowrap;
  background: #ea4335;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
   padding-top: 15px;
      padding-bottom: 15px;
}
