.main {
    margin: 0 auto;
    width: 900px;
}

.imagen {
    width: 200px;
    margin: 2px;
}

.imagencont{
    float: left;
    background-color: white;
    border: 1px solid black;
    margin: 6px;
    box-shadow: 10px 10px 30px 0px;
}

.titulo{
    text-align: center;
}